button {
  font-size: larger;
  padding: 5px 20px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: rgb(181 181 181);
}
